html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.navbar {
  font-weight: bold;
  background-color: white;
  z-index: 1000;
}

.nav-link {
  transition: 200ms;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.section {
  margin-top: 50px;
}

.products {
  margin-top: 70px;
}

.project {
  margin-top: 70px;
}

.heading {
  font-size: 45px;
  color: gray;
}

.heading-2 {
  color: gray;
}

.heading-border {
  width: 400px;
  border-width: 5px;
  position: relative;
}

.heading-outside,
.heading-inhome {
  border-left: 6px solid #00cec9;
  color: #00cec9;
  padding-left: 20px;
  text-transform: uppercase !important;
}

.heading-tertiary {
  text-transform: uppercase;
}

.heading-introduct {
  width: 200px;
}

.heading-product {
  width: 300px;
}

.heading-project {
  width: 70px;
}

.heading-testimonials {
  width: 180px;
}

.heading-footer {
  margin-bottom: 20px;
  border-left: 5px solid #00b894;
  padding-left: 1rem;
  color: #00b894;
}

.introduct {
  margin-top: -30px;
}

.bg-gray {
  background-color: #f5f6fa;
}

.btn {
  font-size: 15px;
  border-radius: 6px;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  padding: 8px 1.4rem;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.33);
  background-image: linear-gradient(
    to right,
    #007991 0%,
    #78ffd6 51%,
    #007991 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
}

.btn:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.33);
  transform: translateY(1.5px);
  background-position: right center;
  text-decoration: none;
}

.btn-custom:hover {
  opacity: 0.8;
}

#btn-see-more-product {
  width: 40%;
}

header {
  position: relative;
  margin-top: 10px;
  height: 95vh;
  background-image: url("../images/header-bg.jpg");
  background-size: cover;
  background-position: top;
  clip-path: ellipse(77% 51% at 50% 38%);
  opacity: 0.8;
}

.logo-box {
  width: 70px;
  margin: 10px;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}

.heading-primary {
  font-size: 50px;
  letter-spacing: 10px;
}

.heading-sub {
  letter-spacing: 5px;
}

.hydroponics-img img {
  width: 100%;
  object-fit: cover;
}

.hydroponics-detail {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 450px;
  background: #000;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.product {
  transition: 200ms all;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.product:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.testimonial {
  width: 80%;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(black, 0.15);
  font-size: 16px;
  border-radius: 100rem;
  background-color: rgba(white, 0.1);
  padding-left: 9rem;
}

.testimonial__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;

  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  margin-top: -1rem;
  shape-outside: circle(50% at 50% 50%);
}

.testimonial__img {
  width: 100%;
  transform: translateY(-2rem);
  transition: all 0.5s;
}

.testimonial__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}

.testimonial:hover .testimonial__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.testimonial:hover .testimonial__img {
  filter: blur(0.5rem) brightness(50%);
  transform: scale(1.05);
}

.section-testimonials {
  position: relative;
  padding: 5rem 0;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}

.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 400px;
  background-color: black;
  color: white;
  padding: 50px;
}

.fa {
  display: inline-block;
  padding: 10px;
  border: 2px solid #00b894;
  border-radius: 50%;
  margin-right: 5px;
}

footer i {
  font-size: 20px;
}

.product img {
  height: 250px;
  object-fit: cover;
}

#scroll-to-top {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #718093;
  text-align: center;
  opacity: 0;
  bottom: -100px;
  transition: 500ms all;
  z-index: 1000;
  left: 20px;
  cursor: pointer;
}

#scroll-to-top.show {
  opacity: 100%;
  bottom: 20px;
}

#scroll-to-top:hover {
  opacity: 0.8;
}

#scroll-to-top i {
  font-size: 50px;
  color: white;
  margin-top: 15px;
}
